/* Common Part
 *******************************************/
 .user-nav{
 	background: #1B6876;
 	color: white;
 	text-align: right;
 	font-size:12px;
 }


 .user-nav a {
 	color:inherit;
 }

 .user-nav li {
 	display:inline-block;
 	margin-left: 20px;
 	margin-top: 5px;
 }

 .user-nav ul{
 	margin:0;
 	padding: 3px 0;
 }

 body{
 	background-color:white ;
 }

 .black{
 	color:black;
 }


/* header
 *******************************************/
 
 .logo{
	background-color: white;
	display: inline-block;
	margin-top: 10px;
	padding-bottom: 10px;
 }

.main-nav ul {
	margin: 0;
	text-align: right;
	padding:20px 0;

}
.main-nav ul li{
	display:inline-block;
	border-radius: 5px 0px 0px 5px;
}

.main-nav ul li a{
background:white;
border-bottom: 5px solid #1B6876;
display:block;
padding:10px;

}

.main-nav ul li a:hover{
	border-color: red;
	text-decoration: none;
	color:red;
}




/*.box2{
	background-color: white;
	box-shadow: 5px 5px 3px #888888;
	padding:5px;
	display:inline-block;
}



.box2 li a{
	display:inline-block;
}*/

/* Content
 *******************************************/

 .content{
 	position:relative;
}

.content2{
	margin-top:100px;
}

.produk:hover{
	margin-top:20px;
	margin-bottom:20px;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	border:10px solid #1B6876 ;
}

.harga{
	position: absolute;
	top:0;
	left: 0;
}


.cart-properties{
	border-bottom: thin solid black;
}

.property{
	border-bottom: thin solid black;
}

.cart{
	margin-top: 100px;
}

.recommend{
	margin-top:20px;
}

.detailheader{
	border-bottom: thin solid black;
	margin-top:50px;
	text-align: center;
}

.kontencontact{
	margin-top: 100px;
}

.head{
	border-bottom: solid 3px black;
	text-align: center;
	margin-bottom: 40px;
}

#map{
	width:100%;
	height:300px;
}


/* Footer
 *******************************************/

footer{
 	background-color: black;
	display:block;
	color:white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
 }

 footer ul li {
 	display:inline-block;
 	margin-right: 10px;
 }

  footer ul li a {
 	color:white;
 }

 .footercon{
 	display: inline-block;
 	margin-right: 10px;
 	color:white;
 }

.about{
	margin-top: 100px;
	margin-bottom: 100px;
}
